.error {
    font-weight: bold;
    color: #FF0000;
}

.top-score {
    font-size: 200%;
    background: #E2F345;
    text-align: center;
}

.score {
    font-size: 150%;
    color: #36407F;
}

.scoreinfo {
    vertical-align: top;
    padding-right: 15px;
}
